
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add / Delete DNC</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a [routerLink]="['/admin/lead-list/']" >DNC</a></li>
              <li class="breadcrumb-item active">Add / Delete DNC</li>
            </ol>
          </div>
          
     
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  
        <div class="card card-info">
          <form>
  
            <div class="row">
              <!-- /.col -->
              <div class="col-md-12">
                <div class="card card-warning">
                  <div class="card-header p-2">
                    <ul class="nav nav">
                      <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Add / Delete DNC</a></li>
                     </ul>
                  </div><!-- /.card-header -->
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="activity">
                        <section class="content">
                          <div class="container-fluid">
  
                            <form>
                              <div class="row">
  
                                
                                <div class="col-md-6">
                                  <label for="inputEmail4" class="form-label">List ID</label>
                                  <select id="inputGender" class="form-select">
                                    <option></option>
                                    <option>ListID-1001</option>
                                    <option>ListID-1002</option>
                                    <option>ListID-1003</option>
                                  </select>
                                </div>

                                <div class="col-md-6">
                                    <label for="inputGender" class="form-label">Add/Delete DNC</label>
                                    <select id="inputGender" class="form-select">
                                      <option></option>
                                      <option>Add DNC List</option>
                                      <option>Delete DNC List</option>
                                    </select>
                                  </div>
    
                                <div class="col-md-12">
                                  <label for="inputEmail4" class="form-label">Phone Numbers</label>
                                  <input type="text" class="form-control" id="inputEmail">
                                </div>
                                
                     
                                <div class="card-footer">
                                  
                                  <button type="submit" class="btn btn-info">
                                    <i class="fas fa-save"></i> Save</button>
                                  <button type="submit" class="btn btn-danger float-right">
                                    <i class="fas fa-window-close"></i> Cancel</button>
                                </div>
  
                              </div>
                            </form>
  
                          </div>
                        </section>
  
                      </div>
                      </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
  
          </form>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <body>
  </body>