
<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header ">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Upload Lead</h1>
            
          </div>
        
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
  
        <div class="card card-info">
          <form>
  
            <div class="row">
              <!-- /.col -->
              <div class="col-md-12">
                <div class="card card-warning">
                  
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="active tab-pane" id="activity">
                        <section class="content">
                          <div class="container-fluid">
  
                            <form>
                              <div class="row">
  
                                  <div class="col-md-4">
                                      <label for="inputEmail4" class="form-label">List ID</label>
                                      <select id="inputGender" class="form-select">
                                        <option></option>
                                        <option>ListID-1001</option>
                                        <option>ListID-1002</option>
                                        <option>ListID-1003</option>
                                      </select>
                                    </div>
    
                                    <div class="col-md-4">
                                      <label for="inputEmail4" class="form-label">Campaign</label>
                                      <select id="inputGender" class="form-select">
                                        <option></option>
                                        <option>Campaign-1001</option>
                                        <option>Campaign-1002</option>
                                        <option>Campaign-1003</option>
                                      </select>
                                    </div>
    
                                <div class="col-md-4">
                                  <label for="inputEmail4" class="form-label">Duplicate Check </label>
                                  <select id="inputGender" class="form-select">
                                    <option></option>
                                    <option>NO DUPLICATE CHECK</option>
                                    <option>CHECK PHONES IN LIST ID</option>
                                    <option>CHECK PHONES IN CAMPAIGN LIST</option>
                                  </select>
                             </div>
  
                                <div class="col-md-4">
                                    <label for="inputEmail4" class="form-label">Lead Mapping</label>
  
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1"></label>
                                      </div>
                 
                         
                                </div>
  
                                <div class="col-md-8">
                                    <label for="inputEmail4" class="form-label">CSV Files</label>
  
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                      </div>
                  
                                </div>
                                  
    
                              </div>
  
                              
                            </form>
  
                          </div>
                        </section>
  
                      </div>
              
                   
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div><!-- /.card-body -->
                </div>
  
                <div class="card-footer">
                                  
                  <button type="submit" class="btn btn-info">
                    <i class="fas fa-save"></i> Upload</button>
                    
                  <button type="submit" class="btn btn-danger float-right">
                    <i class="fas fa-window-close"></i> Cancel</button>
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
  
          </form>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  