<head>
</head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Default Form</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Default Form</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="card card-info">
        <form>

          <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
              <div class="card card-info">
                <div class="card-header p-2">
                  <ul class="nav nav">
                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">CRM</a></li>
                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Call History</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">My Callback</a>
                    </li>
                  </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                      <section class="content">
                        <div class="container-fluid">

                          <form>
                            <div class="row">

                              
                              <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Name</label>
                                <input type="input" class="form-control" id="inputEmail">
                              </div>
                              <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Mobile No</label>
                                <input type="number" class="form-control" id="inputmobilenumber">
                              </div>
                              <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail">
                              </div>
                              <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Alternate Mobile No</label>
                                <input type="number" class="form-control" id="inputalternatenumber">
                              </div>
                              <div class="col-md-6">
                                <label for="inputGender" class="form-label">Gender</label>
                                <select id="inputGender" class="form-select">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                              </div>
                              <div class="col-md-6">
                                <label for="inputPassword4" class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" id="input">
                              </div>

                              <div class="col-12">
                                <label for="inputAddress" class="form-label">Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="">
                              </div>
                              <div class="col-12">
                                <label for="inputAddress2" class="form-label">Address 2</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="">
                              </div>
                              <div class="col-md-6">
                                <label for="inputCity" class="form-label">City</label>
                                <input type="text" class="form-control" id="inputCity">
                              </div>
                              <div class="col-md-4">
                                <label for="inputState" class="form-label">State</label>
                                <select id="inputState" class="form-select">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                              </div>
                              <div class="col-md-2">
                                <label for="inputZip" class="form-label">Zip</label>
                                <input type="text" class="form-control" id="inputZip">
                              </div>

                              <div class="col-12">
                                <label for="inputNote" class="form-label">Call Remarks</label>
                                <input type="text" class="form-control" id="inputNote" placeholder="">
                              </div>
                          
                              <div class="card-footer">
                                
                                <button type="submit" class="btn btn-info">
                                  <i class="fas fa-save"></i> Save</button>
                                <button type="submit" class="btn btn-danger float-right">
                                  <i class="fas fa-window-close"></i> Cancel</button>
                              </div>

                            </div>
                          </form>

                        </div>
                      </section>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-12">
                            <div class="card card-warning">
                              <div class="card-header">
                                <h3 class="card-title">Call History</h3>

                                <div class="card-tools">
                                  <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right"
                                      placeholder="Search">

                                    <div class="input-group-append">
                                      <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                      </button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body table-responsive p-0" style="height: 300px;">
                                <table class="table table-head-fixed text-nowrap">
                                  <thead>
                                    <tr>
                                      <th>ID</th>
                                      <th>User</th>
                                      <th>Date</th>
                                      <th>Status</th>
                                      <th>Reason</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>183</td>
                                      <td>John Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-success">Approved</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>219</td>
                                      <td>Alexander Pierce</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-warning">Pending</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>657</td>
                                      <td>Bob Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-primary">Approved</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>175</td>
                                      <td>Mike Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-danger">Denied</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>134</td>
                                      <td>Jim Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-success">Approved</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>494</td>
                                      <td>Victoria Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-warning">Pending</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>832</td>
                                      <td>Michael Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-primary">Approved</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>982</td>
                                      <td>Rocky Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-danger">Denied</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>494</td>
                                      <td>Victoria Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-warning">Pending</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>832</td>
                                      <td>Michael Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-primary">Approved</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                    <tr>
                                      <td>982</td>
                                      <td>Rocky Doe</td>
                                      <td>11-7-2014</td>
                                      <td><span class="tag tag-danger">Denied</span></td>
                                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                    </tr>
                                 
                                  </tbody>
                                </table>
                              </div>
                              <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                          </div>
                        </div>

                        <!-- /.row -->
                      </div>

                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                      <div class="row">
                        <div class="col-12">
                          <div class="card card-warning">
                            <div class="card-header">
                              <h3 class="card-title">My Call Back</h3>

                              <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                  <input type="text" name="table_search" class="form-control float-right"
                                    placeholder="Search">

                                  <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                      <i class="fas fa-search"></i>
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0" style="height: 300px;">
                              <table class="table table-head-fixed text-nowrap">
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Reason</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>183</td>
                                    <td>John Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>219</td>
                                    <td>Alexander Pierce</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-warning">Pending</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>657</td>
                                    <td>Bob Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-primary">Approved</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>175</td>
                                    <td>Mike Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-danger">Denied</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>134</td>
                                    <td>Jim Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>494</td>
                                    <td>Victoria Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-warning">Pending</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>832</td>
                                    <td>Michael Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-primary">Approved</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>982</td>
                                    <td>Rocky Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-danger">Denied</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>494</td>
                                    <td>Victoria Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-warning">Pending</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>832</td>
                                    <td>Michael Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-primary">Approved</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                                  <tr>
                                    <td>982</td>
                                    <td>Rocky Doe</td>
                                    <td>11-7-2014</td>
                                    <td><span class="tag tag-danger">Denied</span></td>
                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                  </tr>
                               
                                </tbody>
                              </table>
                            </div>
                            <!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                        </div>
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>

        </form>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<body>
</body>