
<!-- Content Wrapper. Contains page content -->
<div class="">
  <!-- Content Header (Page header) -->
  <section class="content-header ">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Add New Lead</h1>
          
        </div>
      
      </div>
      
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="card card-info">
        <form>

          <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
              <div class="card card-warning">
                
                <div class="card-body">
                  <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                      <section class="content">
                        <div class="container-fluid">

                          <form>
                            <div class="row">

                                <div class="col-md-4">
                                    <label for="inputEmail4" class="form-label">List ID</label>
                                    <select id="inputGender" class="form-select">
                                      <option></option>
                                      <option>ListID-1001</option>
                                      <option>ListID-1002</option>
                                      <option>ListID-1003</option>
                                    </select>
                                  </div>
  
                                  <div class="col-md-4">
                                    <label for="inputEmail4" class="form-label">Campaign</label>
                                    <select id="inputGender" class="form-select">
                                      <option></option>
                                      <option>Campaign-1001</option>
                                      <option>Campaign-1002</option>
                                      <option>Campaign-1003</option>
                                    </select>
                                  </div>
  
                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Title</label>
                                <input type="input" class="form-control" id="inputEmail">
                              </div>

                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Full Name</label>
                                <input type="input" class="form-control" id="inputEmail">
                              </div>


                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Address 1</label>
                                <input type="input" class="form-control" id="inputEmail">
                              </div>


                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Address 2</label>
                                <input type="text" class="form-control" id="inputEmail">
                              </div>
                              
                               
                              <div class="col-md-4">
                                <label for="inputGender" class="form-label">Country</label>
                                <select id="inputGender" class="form-select">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                              </div>

                              <div class="col-md-4">
                                <label for="inputGender" class="form-label">State</label>
                                <select id="inputGender" class="form-select">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                              </div>

                              <div class="col-md-4">
                                <label for="inputGender" class="form-label">City</label>
                                <select id="inputGender" class="form-select">
                                  <option selected>Choose...</option>
                                  <option>...</option>
                                </select>
                              </div>

                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Pin Code</label>
                                <input type="number" class="form-control" id="inputEmail">
                              </div>
                             
                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Phone Number</label>
                                <input type="number" class="form-control" id="inputEmail">
                              </div>
                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Alternative Phone Number</label>
                                <input type="number" class="form-control" id="inputEmail">
                              </div>
                            
                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail">
                              </div>
                              <div class="col-md-4">
                                <label for="inputEmail4" class="form-label">Dial Code</label>
                                <input type="number" class="form-control" id="inputEmail">
                              </div>

                            

                             
                            </div>

                            
                          </form>

                        </div>
                      </section>

                    </div>
            
                 
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div><!-- /.card-body -->
              </div>

              <div class="card-footer">
                                
                <button type="submit" class="btn btn-info">
                  <i class="fas fa-save"></i> Save</button>
                  
                <button type="submit" class="btn btn-danger float-right">
                  <i class="fas fa-window-close"></i> Cancel</button>
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>

        </form>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
