<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/user']">Home</a></li>
            <li class="breadcrumb-item active">Admin Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
 
  <section class="content">
    <div class="container-fluid">
    

      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>150</h3>

              <p>USERS</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-plus"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>15</h3>

              <p>CAMPAIGN</p>
            </div>
            <div class="icon">
              <i class="fas fa-edit"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>


        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>53</h3>

              <p>LIST</p>
            </div>
            <div class="icon">
              <i class="fas fa-file"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>65</h3>

              <p>USER GROUP</p>
            </div>
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>

      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->

          <div class="info-box bg-gradient-info">
            <span class="info-box-icon">
              <i class="far fa-bell"></i>

            </span>
            <div class="info-box-content">
              <span class="info-box-text">INCALL</span>
              <span class="info-box-number">110</span>
            </div>
          </div>
        </div>
                 <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">PAUSED</span>
              <span class="info-box-number">10</span>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">READY</span>
              <span class="info-box-number">10</span>
            </div>
          </div>

        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="far fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">IDLE</span>
              <span class="info-box-number">10</span>
            </div>
          </div>
  </div>
        <!-- ./col -->
      </div>

      <div class="row">

        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fas fa-user-plus"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">AGENT LOGIN</span>
              <span class="info-box-number">42</span>
            </div>
          </div>
        </div>
    
        <div class="col-lg-3 col-6">
          <!-- small box -->

          <div class="info-box bg-success">
            <span class="info-box-icon">
              <i class="far fa-bell"></i>

            </span>
            <div class="info-box-content">
              <span class="info-box-text">RINGING</span>
              <span class="info-box-number">15</span>
            </div>
          </div>
        </div>
                 <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">HANGUP</span>
              <span class="info-box-number">10</span>
            </div>
          </div>

        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="far fa-bell"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">CALLBACK</span>
              <span class="info-box-number">10</span>
            </div>
          </div>
  </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Agent Call Summary </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="agent-call-summary" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;">
                </canvas>
              </div>
              <!-- /.card-body -->
            </div>
          
          
         
        </section>
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

          
          <div class="card card-info">
            <div class="card-header border-0">
              <h3 class="card-title">
                <i class="fas fa-th mr-1"></i>
                Agent Login Summary
              </h3>

              <div class="card-tools">
                <button type="button" class="btn bg-info btn-sm" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn bg-info btn-sm" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <canvas class="chart" id="agent-login-summary" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer -->
          </div>
      
         
        </section>

        <section class="col-lg-12 connectedSortable">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-chart-bar mr-1"></i>
                Hourly Call Summary 
              </h3>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content p-0">
                <div class="" id="sales-chart" style="position: relative; height: 250px;">
                  <canvas id="hourly-call-chart" height="250" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
            </div><!-- /.card-body -->
          </div>
          
        </section>
        <section class="col-lg-12 connectedSortable">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Agent Monitoring Summary</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th>Agent Name</th>
                    <th>User Group</th>
                    <th>Status</th>
                    <th>Phone Nunber</th>
                    <th>Duration (Sec.)</th>
                    <th>Campaign</th>
                   
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">Ashish Tomar</a></td>
                    <td>User Group1</td>
                    <td><span class="badge badge-success">NO ANSWER</span></td>
                   <td> 8588984649</td>
                   <div class="sparkbar" data-color="#00a65a" data-height="20">45</div>
                   <td>Test Campaiogn</td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">Ashish Tomar</a></td>
                    <td>User Group1</td>
                    <td><span class="badge badge-success">NO ANSWER</span></td>
                   <td> 8588984649</td>
                   <div class="sparkbar" data-color="#00a65a" data-height="20">45</div>
                   <td>Test Campaiogn</td>
                    </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">Ashish Tomar</a></td>
                    <td>User Group1</td>
                    <td><span class="badge badge-success">NO ANSWER</span></td>
                   <td> 8588984649</td>
                   <div class="sparkbar" data-color="#00a65a" data-height="20">45</div>
                   <td>Test Campaiogn</td>
              
                  </tr>

                  <tr>
                    <td><a href="pages/examples/invoice.html">Ashish Tomar</a></td>
                    <td>User Group1</td>
                    <td><span class="badge badge-success">NO ANSWER</span></td>
                   <td> 8588984649</td>
                   <div class="sparkbar" data-color="#00a65a" data-height="20">45</div>
                   <td>Test Campaiogn</td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">Ashish Tomar</a></td>
                    <td>User Group1</td>
                    <td><span class="badge badge-success">NO ANSWER</span></td>
                   <td> 8588984649</td>
                   <div class="sparkbar" data-color="#00a65a" data-height="20">45</div>
                   <td>Test Campaiogn</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <!-- /.card-footer -->
          </div>
        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>
 
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->